<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{mainlayout :: head}"></head>
  <body>
    <div th:replace="~{mainlayout :: nav}"></div>
    <div class="container-sm">
    <div>
      <h2 style="color: blue;">Add genre to database</h2>
    </div><br>
      <form style = "color:blue;"  th:action="@{/addgenre}" method="post" th:object="${genre}">
         <label for="genre">Genre:</label>
        <input type="text" id="name" th:field="*{genreName}" />
        
        <div class="text-danger" th:if="${#fields.hasErrors('genreName')}"
         th:errors="*{genreName}">Error</div>
        <button type="submit">Add Genre</button>
      </form>
    </div>
    <!-- display the alert only if successMessage is present -->
    <div th:if="${successMessage}" class="alert alert-success mt-3" role="alert">
      <span th:text="${successMessage}"></span>
    </div>
    <!-- Error alert -->
  <div
    th:if="${errorMessage}"
    class="alert alert-danger"
    th:text="${errorMessage}">
  </div>
    <div th:replace="~{mainlayout :: footer}"> </div>
  </body>
</html>
